.header{
  margin-left:5em;
  margin-right: 5em;
}

.header-img{
  float:left;
  width:60%;
}

.header-content{
  float:right;
  width:40%;
}

.padded{
  padding:1em;
}

.simple-list{
  list-style:none;
}

.content{
	max-width: 55em;
	margin: auto;
}

tr:nth-child(even) {
  background-color: #eee;
}

table {
  table-layout: fixed;
}

th, td {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px;
}

.author {
  font-weight: bold;
  font-size: 24px;
}

.date {
  font-style: italic;
  font-size: 24px;
}
